<?xml version="1.0" encoding="UTF-8"?>
web-app(version=3.1,
     xmlns="http://xmlns.jcp.org/xml/ns/javaee", 
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ,
     xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd")
  env-entry
    env-entry-name injectedResource
    env-entry-type java.lang.Integer
    env-entry-value 3
  resource-ref
    description My DataSource Reference
    res-ref-name jdbc/ManagedBeansPU
    res-type javax.sql.DataSource
    res-auth Container