<!DOCTYPE html>
<%@ taglib prefix="s" uri="/struts-tags" %>
<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Struts 2 Bean Validation - Welcome
    body
      h1 Update Information
      p Use the form below to edit your information.
      s:form(action='save', method='post')
        each val in ['firstName', 'lastName', 'email', 'phoneNumber']
          s:textfield(key=`personBean.${val}`)/
        s:select(key='personBean.sport', list='sports')/
        s:radio(key='personBean.gender', list='genders')/
        s:select(key='personBean.residency', list='states', listKey='stateAbbr', listValue='stateName')/
        s:checkbox(key='personBean.over21')/
        s:checkboxlist(key='personBean.carModels', list='carModelsAvailable')/
        s:submit(key='submit')/

        
        