<?xml version='1.0' encoding='UTF-8'?>
faces-config(version="2.2", xmlns="http://xmlns.jcp.org/xml/ns/javaee",
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance",
              xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee;http://xmlns.jcp.org/xml/ns/javaee/web-facesconfig_2_2.xsd")
    mixin rule(from)
      navigation-rule
        from-view-id=from
        block
    mixin case(outcome, to)
      navigation-case
          from-outcome=outcome
          to-view-id=to
          
    +rule('/index.xhtml')
      +case('eventStatus', '/event.xhtml')
    
    +rule('/event.xhtml')
      +case('changedStatus', '/index.xhtml')
      +case('error', '/index.xhtml')
      +case('viewResponse', '/attendee.xhtml')

    +rule('/attendee.xhtml')
      +case('changedStatus', '/event.xhtml')
    
      
      
    
    
    